#resume{
    text-align: center;
}

#resume > img{
    padding: 10px;
    width: 50%;
    height: 800px;
}

#resume a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(41, 38, 38);
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 17px;
}

#resume a:hover{
    box-sizing: border-box;
    font-size: 18px;
}